/* * {
    outline: 1px solid #ddd;
} */

:root {
    --mc: #467f5a;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header_wrap {
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;
}

.header h1 {
    width: 120px;
    margin: 0 60px 0 0;
}

.header_wrap .gnb {
    margin: 0 auto 0 0;
}

.header_wrap .gnb ul {
    display: flex;
    gap: 50px;
}

.header_wrap .gnb ul li a {
    font-size: 18px;
}

.header_wrap .head_icon ul {
    display: flex;
    gap: 20px;
    font-size: 23px;
}








.main_visual .visual {
    height: calc(100vh - 80px);
    background: url(../images/main01.jpg) no-repeat center center/cover;
    border-radius: 200px 200px 0 0;
}

.main_visual .visual_txt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    font-size: 60px;
    font-weight: 100;
    text-align: center;
    text-shadow: 0 0 5px #555;
    color: #fff;
}









.main_content {
    position: relative;
    padding: 100px 0;
}

.main_content .content_wrap {
    display: flex;
    justify-content: space-between;
    max-width: calc((100% - 1200px) / 2 + 1185px);
    margin: 0 0 0 auto;
    align-items: center;
    gap: 100px;
}

.main_content .content_tit {
    word-wrap: break-word;
    white-space: nowrap;
    text-align: center;
}

.main_content .content_tit h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 30px 0;
    color: var(--mc);
}

.main_content .content_tit h3 {
    position: relative;
    display: block;
    font-size: 60px;
    font-weight: 200;
    margin: 0 0 60px 0;
}

.main_content .content_tit h3::after {
    position: absolute;
    content: "";
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 1px;
    align-items: center;
    background: var(--mc);
}

.main_content .content_tit p {
    font-size: 17px;
    margin: 0 0 30px 0;
    font-weight: 300;
}

.main_content .content_arrows {
    font-size: 35px;
    cursor: pointer;
}

.main_content .content_img {
    overflow: hidden;
}

.main_content .content_img img {
    width: 100%;
    margin: 0 0 0 auto;
    border-radius: 0 200px 0 200px;
}

.main_content .content_bg {
    position: absolute;
    top: 35%;
    left: -45%;
    transform: rotate(90deg);
    scale: 0.5;
}











.main_event {
    padding: 100px 0;
    background: #fffcf4;
}

.main_event .event_tit {
    word-wrap: break-word;
    white-space: nowrap;
}

.main_event .event_tit h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: var(--mc);
}

.main_event .event_tit h3 {
    position: relative;
    display: block;
    font-size: 60px;
    font-weight: 200;
    margin: 0 0 50px 0;
}

.main_event .event_img {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 130px;
}

.main_event .event_img figure {
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 30px 0;
}

.main_event .event_img .event_txt {
    text-align: center;
}

.main_event .event_img .event strong {
    display: block;
    font-size: 45px;
    font-weight: 200;
    margin: 0 0 17px 0;
}

.main_event .event_img .event p {
    font-size: 16px;
    line-height: 23px;
}


.main_event .event_img .down {
    position: relative;
    top: -120px;
}













.main_imformation {
    position: relative;
    padding: 100px 0;
}

.main_imformation .imformation_tit {
    word-wrap: break-word;
    white-space: nowrap;
    /* text-align: center; */
}

.main_imformation .imformation_tit h2 {
    font-size: 20px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: var(--mc);
}

.main_imformation .imformation_tit h3 {
    position: relative;
    display: block;
    font-size: 60px;
    font-weight: 200;
    margin: 0 0 50px 0;
}

.main_imformation .imformation_tit p {
    font-size: 17px;
    margin: 0 0 30px 0;
    font-weight: 300;
}

.main_imformation .imformation_img .imformation {
    padding: 7px;
    margin: 0 0 30px 0;
}

.main_imformation .imformation_img figure {
    border-radius: 10px;
    overflow: hidden;
    margin: 0 0 15px 0;
}

.main_imformation .imformation_img img {
    height: 500px;
}

.main_imformation .imformation_img .imformation_txt p {
    font-size: 20px;
    font-weight: 300;
}

.main_imformation .imformation_arrows {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    max-width: 1900px;
    width: 100%;

    cursor: pointer;
}

.main_imformation .imformation_arrows i {
    font-size: 40px;
    padding: 12px 5px;
    background: rgba(1, 1, 1, 0.1);
}

/* <슬라이드 스테이 타임 > */
.main_imformation .stay_bar {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    background: rgba(1, 1, 1, 0.2);

    height: 2px;
    width: 1000px;
    border-radius: 10px;
    overflow: hidden;
}

.main_imformation .stay_bar span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    background: var(--mc);
}










.footer {
    padding: 30px 0;
    background: #444;
    color: #ddd;

    font-size: 16px;
}

.footer .footer_wrap {
    display: flex;
    justify-content: space-between;
}

.footer .footer_wrap .footer_left {
    line-height: 25px;
}

.footer .footer_wrap .footer_right {
    text-align: right;
}

.footer .footer_wrap .footer_right .sns {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    margin: 0 0 13px 0;
}

.footer .footer_wrap .footer_right .sns i {
    font-size: 20px;
    border: 1px solid #ddd;
    border-radius: 50%;
    padding: 8px;
}

.footer .footer_wrap .footer_right .ft {
    position: relative;
    display: flex;
    gap: 20px;
}

.footer .footer_wrap .footer_right .ft li~li::before {
    position: absolute;
    content: "";
    top: 13px;
    left: 48%;
    transform: translate(-50%, -50%);
    height: 13px;
    width: 1px;
    background: #ddd;
}